
.testimonial {
    align-items: center;
    margin: 20px auto 20px auto;
    background-color: #111;
    padding: 25px;
    border-radius: 10px;
    gap: 15px;
    width: 80%;
    color: #fff;
}
.testimonial img{
    border-radius: 50%;
}
.quote {
    margin: 15px;
    font-style: italic;
    font-size: 18px !important;
    line-height: 28px;
}

.author {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(231, 154, 0) ;
}
.carousel-item {
    opacity: 0;
    transition: 1s ease-in-out;
}
  
.carousel-item.active {
    opacity: 1;
}